.home {
	/* background: url('../../../img/main_bg.png') 50% no-repeat; */
	/* background-size: cover; */
	background: rgba(20, 20, 20, 0.74);
}

.arrow-down {
    width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}
.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    /* margin: -16px; */
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.home__container {
	/* background: #131313; */
	/* padding: 20px; */
	width: 100%;
	margin: 0 auto;
}

.home__main {
	padding: 20% 0;
	background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.274)) ,url('../../../img/home.png') 50% no-repeat;
}

.home__name {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	font-size: 30px;
}

.home__title {
	width: 30%;
	margin: 60px auto;
	text-align: center;
	font-weight: 500;
	position: relative;
	color: #6dbbff;;

}

.home__title::after{
	position: absolute;
	content: "";
	display: block;
	left: 150px;
	bottom: -10px;
	width: 100px;
	background: #6dbbff;
	height: 1px;
}

.home__projects {
	display: flex;
	/* justify-content: spac; */
	width: 100%;
	margin: 0 auto;
}

.projects__left {
	display: flex;
	flex-direction: column;
}

.left__image {
	height: 100px;
	width: 100%;
}

.projects__left {
	height: 400px;
	width: 40%;
}

.middle__image {
	height: 400px;
	width: 100%;
}

.right__image {
	height: 400px;
	width: 100%;
}

.home__about{
	/* width: 100%; */
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	display: flex;
	
}

.about__left{
	background: rgb(29, 29, 29);
	text-align: left;
	padding-left: 70px;
	width: 50%;
}

.about__description{
	text-align: left;
	width: 70%;
	margin-bottom: 30px;
}

.about__right{
	height: 500px;
	width: 40%;
}

.about__button{
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: 1px solid #ffffff;
	padding: 10px 20px;
	transition: border-radius 3s,  background 1s;
}

.about__button:hover{
	color: rgb(0, 0, 0);
	background: #ffffff;
	border-radius: 100px;
}

.services__title{
	text-align: center;
	background: rgba(49, 49, 49, 0.199);
	color: #ffffff;
	margin: 0;
	margin-top: 20px;
	padding: 40px 0;
	font-weight: 400;
}

.services__wrapper{
	display: flex;
	justify-content: space-between;
}

.services__content{
	width: 48%;
	text-align: center;
	position: relative;
	
}

.services__image{
	width: 100%;
	filter: drop-shadow(1px 1px 2px red) invert(80%);
	/* filter: blur(1px); */
	transition: 1s;
}

.services__caption{
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: 24px;
	transition: 1s;
}

.services__content:hover .services__image{
	filter: none;
}

.services__content:hover .services__caption{
	font-size: 28px;
	border-bottom: 1px solid #00eeff;
}

.home__subscribe{
	width: 60%;
	height: 200px;
	margin: 0 auto;
	margin-top: 70px;
}


.subscribe__label{
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}
.subscribe__input{
	display: block;
	padding: 10px;
	background: #454545;
	color: #afafaf;
	width: 97%;
}

.subscribe__input::placeholder{
	color: white;
}

.subscribe__btn{
	margin-top: 30px;
	display: block;
	width: 100%;
	padding: 15px;
	color: white;
	background: black;
	cursor: pointer;
	transition: 1s;

	background: rgb(51, 51, 51);
	color: rgb(167, 167, 167);
	border-radius: 10px;
}

.subscribe__btn:hover{
	background: rgb(90, 90, 90);
	color: rgb(204, 187, 187);
	border-radius: 100px;
}