.advise {
	background: #ffffff;
	color: #000;
}

.advise__top {
	background: linear-gradient(#0707077a, #ffffff2c, #00000069, #000000cc),
		url('../../../img/maimpagebg.png') 50% no-repeat;
	background-size: cover;

	/* width: 90%; */

	border-top: 1px solid #000;
	padding: 140px 0;
	margin: 0 auto;
}

.advise__title {
	text-align: center;
	margin-top: 50px;

	color: rgb(255, 255, 255);
}

.advise__container{
	width: 80%;
	margin: 0 auto;
}

.advise__head{

}