.header {
	/* background: rgb(53, 53, 53); */
	background: rgb(110, 110, 110);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header__container {
	/* background: #F2E5E4; */
	width: 80%;
	padding: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	color: rgb(252, 252, 252);
	font-weight: 600;
}

.header__nav{
	display: flex;
	width: 50%;

	justify-content: space-between;
}

.header__link{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 10px;
	border: 1px solid transparent;
	transition: 0.5s;
}

.header__link:hover{
	color: aqua;
	border: 1px solid aqua;
	border-radius: 10px;
}
