.contact{
    /* background: linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.514)); */
	background-size: cover;
	height: 800px;
    border-top: 1px solid #ffffff;
}

.music__title {
	
	text-align: center;
	font-weight: 400;
	color: rgb(43, 43, 43);
}

.music_container {
	width: 70%;
	margin: 0 auto;
	display: flex;

}

.music__form{
	width: 50%;
	background: #f0d7d7;
	padding: 30px;
}

.ct__img{
width: 50%;
}

.music__input {
	border: none;
	border-bottom: 1px solid #000000;
	width: 90%;
	padding: 10px;
	background: transparent;
	margin: 5px;
	margin-left: 0;
	color: black;
}

.music__input::placeholder {
	color: black;
}

.music__message{

	border: 1px solid #ffffff;
	width: 90%;
	padding: 10px;
	background: white;
	margin: 5px;
	margin-left: 0;
	color: black;
    resize: none;
    height: 120px;
}

.music__message::placeholder {
	color: black;
}


.music__label {
	display: block;
	margin-top: 10px;
	position: relative;
	color: #000000;
}

.music__label::after {
	content: '*';
	margin-left: 5px;
	font-size: 25px;
	color: red;
}


.music__btn {
	background: #6c1cff;
	display: block;
	width:95%;
	padding: 10px;
	color: #fff;
	font-size: 22px;
	border: none;
	transition: 1s;
	margin: 0;
	cursor: pointer;
}
.music__btn:hover {
	background: #e912e9;
}

