.apart__top {
	background: url('../../../img/proj_bg.png') 50% no-repeat; 
	background-size: cover;

	border-top: 1px solid #000;
	padding: 70px 0 0;
}

.apart__content{
	background: #F8F4F1;
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 40px;

	box-shadow: 1px 2px 10px 0px black;
}

.apart__bottom{
	padding-top: 50px;
	width: 50%;
	margin: 0 auto;
}

.apart__wrapper{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	padding: 50px;
	align-items: center;
	text-decoration: none;

	transition: 0.5s;
}
.apart__wrapper:hover{
	background: rgb(255, 223, 223);
	box-shadow: 1px 1px 10px 10px rgb(255, 197, 197);
}

.apart__image{
	width: 300px;
	height: 200px;
}

.apart__description{
	text-align: center;
	font-size: 40px;
	color: #000;
}