.auth {
	background: linear-gradient(#ffffff3a, #dbdbdb65), url('../../../img/proj_bg.png') 50% no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 70px;

	margin-top: 70px;
	border-top: 1px solid #000;
}

.auth__title {
	text-align: center;
	font-size: 28px;
	margin-top: 0;
	color: #fff;
	font-weight: 500;
	margin-top: 100px;
}

.auth__block {
	width: 50%;

	margin: 0 auto;
	display: flex;

	z-index: 1000;
	overflow: hidden;
}

.auth__form {
	padding: 20px;
	width: 100%;

	border-radius: 20px;
	background: #ffffff9f;
	padding-bottom: 60px;
}

.auth__label {
	color: #000000;
	margin-top: 10px;
	display: block;
	text-transform: uppercase;
}

.auth__input {
	display: block;
	margin-top: 20px;
	padding: 10px;
	width: 90%;
	border-radius: 5px;
	border: 1px solid #d1a379;
	color: #000000;

	background: #dddddd;
}

.auth__input::placeholder {
	color: #000000;
}

.auth__button {
	background: #cacaca;
	/* border: 1px solid #000; */
	margin-top: 20px;
	display: block;
	width: 93%;
	padding: 10px;
	color: #070707;
	font-size: 22px;

	transition: 1s;
	cursor: pointer;
	border: 1px solid #ffffff;
}

.auth__button:hover {
	background: #161616;
	color: #ffffff;
	border-radius: 100px;
}

.auth__link {
	display: block;
	color: rgb(255, 0, 0);
	text-decoration: none;
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
}
