.auth{
	background: url('../../../img/proj_bg.png') 50% no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 70px;
}

.auth__title {
	text-align: center;
	font-size: 28px;
	margin-top: 0;
	color: #fff;
	font-weight: 500;
}

.auth__block {
	width: 50%;

	height: 100%;
	margin: 0 auto;
	display: flex;

	z-index: 1000;
	overflow: hidden;
}

.auth__form {
	padding: 20px;
	width: 100%;
}

.auth__label {
	color: #fff;
	margin-top: 10px;
	display: block;
	text-transform: uppercase;
}

.auth__input {
	display: block;
	margin-top: 20px;
	padding: 10px;
	width: 90%;
	border-radius: 5px;
	border: 1px solid #d1a379;
}

.auth__button {
	background: #fff;
	border: 1px solid #000;
	margin-top: 20px;
	display: block;
	width: 95%;
	padding: 10px;
	color: #000000;
	font-size: 22px;

	transition: 1s;
	cursor: pointer;
}

.auth__button:hover {
	background: #000000;
	color: #ffffff;
}

.auth__link {
	display: block;
	color: rgb(255, 0, 0);
	text-decoration: none;
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
}

